.Event_Main {
  background-color: var(--text-white);
  padding: 100px 0;
}
.Event_wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 20px;
}
.Event_Title {
  font-size: 43px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-secondary);
}
.Event_table {
  border: 1px solid var(--text-secondary);
  color: var(--text-black);
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
  
}

.Event_table tr,
.Event_table tr td,
.Event_table tr th {
  border: 1px solid var(--text-secondary);
  font-family: var(--font-secondary);
}
.Event_table tr th {
  padding: 15px 5px 0 5px;
}
.Event_table tr td {
  padding: 0 5px;
}
.Event_table tr td > a {
  color: var(--text-black);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-secondary);
}
.Event_table tr td > a:hover {
  color: var(--text-secondary);
}
.Event_table tr td > a.Register {
  text-decoration: underline;
}
@media (max-width: 1080px) {
}

@media (max-width: 830px) {
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}
