.Item_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Item_Image {
  position: relative;
  width: 100px;
  background-color: var(--text-white);
  padding: 5px;
  border: 1px solid var(--text-black);
  /* width: 20%; */
}
.Item_Image img {
  width: 100%;
}
.Item_Details {
  color: var(--text-black);
  margin-right: auto;
  padding-left: 10px;
}
.Item_Details h5 {
  font-family: var(--font-secondary);
  text-transform: capitalize;
  margin: 0;
}
.Item_Details p {
  font-family: var(--font-secondary);
  text-transform: capitalize;
  font-weight: 500;
  opacity: 0.9;
  margin: 0;
}
.Item_Details p span {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: medium;
  font-weight: 500;
  opacity: 0.9;
}
.Item_Price h5 {
  color: var(--text-black);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 500;
  font-size: large;
}
/* Responsive */
/* Responsive */
@media only screen and (max-width: 768px) {
    .Item_Details h5{
        font-size: medium;
    }
    .Item_Details p {
        font-size: small;
    }
}