.Search_Main {
  background-color: var(--text-white);
  padding: 100px 0;
}
.Search_wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 20px;
}
.Search_Title {
  font-size: 43px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-secondary);
}
.Search_table {
  border: 1px solid var(--text-secondary);
  color: var(--text-black);
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
  
}
.Search_table thead{
  border-bottom: 3px solid var(--text-black);
}

.Search_table tr,
.Search_table tr td,
.Search_table tr th {
  border: 1px solid var(--text-secondary);
  font-family: var(--font-secondary);
}
.Search_table tr th {
  padding: 15px 5px 0 5px;
}
.Search_table tr td {
  padding: 0 5px;
}
.Search_table tr td > a {
  color: var(--text-black);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-secondary);
}
.Search_table tr td > a:hover {
  color: var(--text-secondary);
}
.Search_table tr td > a.Register {
  text-decoration: underline;
}
@media (max-width: 1080px) {
}

@media (max-width: 830px) {
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}
